[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
eli5 = "*"
pdpbox = "*"
xgboost = "*"
python-dotenv = "*"
sodapy = "*"

[requires]
python_version = "3"
